asgiref==3.12.1
colorama==0.4.6
Django>=4.0,<5.0
django-debug-toolbar==8.0.0
django-rest-framework==0.1.0
djangorestframework>=3.13
flake8==7.4.1
flake8-quotes==3.4.0
flake8-variables-names==0.0.5
iniconfig==2.3.1
legacy-cgi==2.6.4
mccabe==0.7.0
packaging==26.3
pep8-naming==0.13.2
pluggy==1.6.0
pycodestyle==2.15.0
pyflakes==4.0.3
Pygments==2.21.0
pytest==9.1.1
pytz==2026.5
setuptools==84.0.0
sqlparse==0.6.0
tzdata==2026.5
